body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 70px;
}

.navbar-brand img{
    height: 40px;
    width: auto;
}

.nav-item .nav-link{
    margin: 5px;
}

.section h2, h1{
    font-weight: 700;
}

.card{
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}




